@import url('reset.css');
@import url('theme.css');
@import url('flex.css');
@import url('utils.css');

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666;
}
