/* @import url('color-palette.css');

@layer light, dark, componet;

@layer theme {
    .light {
        --primary: var(--primary-500);
        --secondary: var(--secondary-500);

        --background: var(--gray-50);
        --paper: #c5c5c5;

        --text: var(--gray-900);
        --contrast: #6c757d;
    }

    .dark {
        --primary: var(--primary-500);
        --secondary: var(--secondary-500);

        --background: #282a36;
        --paper: #21222c;

        --text: var(--gray-50);
        --contrast: #6c757d;
    }

    .container {
        background-color: var(--background);
    }

    input,
    span,
    textarea,
    label,
    select,
    div,
    button {
        color: var(--text);
        fill: var(--text);
    }
}

@layer theme.light {
    .light.background,
    .light .background {
        background-color: var(--background);
    }

    .light.paper,
    .light .paper {
        background-color: var(--paper);
    }

    .light.primary,
    .light .primary {
        background-color: var(--primary);
        color: #fff;
    }

    .light.secondary,
    .light .secondary {
        background-color: var(--secondary);
        color: #fff;
    }

    .light.warn,
    .light .warn {
        background-color: var(--warn);
        color: #fff;
    }

    .light.error,
    .light .error {
        background-color: var(--error);
        color: #fff;
    }
}

@layer theme.dark {
    .dark.background,
    .dark .background {
        background-color: var(--background);
    }
    .dark.paper,
    .dark .paper {
        background-color: var(--paper);
    }

    .dark.primary,
    .dark .primary {
        background-color: var(--primary);
        color: #fff;
    }

    .dark.secondary,
    .dark .secondary {
        background-color: var(--secondary);
        color: #fff;
    }

    .dark.warn,
    .dark .warn {
        background-color: var(--warn);
        color: #fff;
    }

    .dark.error,
    .dark .error {
        background-color: var(--error);
        color: #fff;
    }
}

@layer component {
    [color='text'] {
        color: var(--text);
    }

    [color='contrast'] {
        color: var(--contrast);
    }

    [color='primary'] {
        color: var(--primary);
    }

    [color='secondary'] {
        color: var(--secondary);
    }

    [color='disabled'] {
        color: var(--disabled);
    }

    [bgcolor='text'] {
        background-color: var(--text);
        color: var(--contrast);
    }

    [bgcolor='contrast'] {
        background-color: var(--contrast);
        color: var(--text);
        fill: var(--text);
    }

    [bgcolor='primary'] {
        background-color: var(--primary);
        color: var(--gray-50);
        fill: var(--gray-50);
    }

    [bgcolor='secondary'] {
        background-color: var(--secondary);
        color: var(--gray-50);
        fill: var(--gray-50);
    }

    [bgcolor='disabled'] {
        background-color: var(--disabled);
        color: var(--gray-200);
        fill: var(--gray-200);
    }

    [bgcolor='transparent'] {
      background-color: transparent;
  }
} */
