/* @import url('color-palette.css');

@layer light, dark, component;

@layer theme {
  .light {
    --primary: var(--primary-main-light);
    --primary: var(--primary-light-light);
    --primary: var(--primary-dark-light);

    --secondary: var(--secondary-main-light);
    --secondary: var(--secondary-light-light);
    --secondary: var(--secondary-dark-light);

    --background: var(--background-light);
    --paper: var(--paper-light);

    --contrast-text: var(--contrast-text-light);
    --error: var(--error--light);
    --info: var(--info--light);
    --success: var(--success--light);
    --warning: var(--warning--light);

    --gray-50: var(--gray-50-light);
    --gray-100: var(--gray-100-light);
    --gray-200: var(--gray-200-light);
    --gray-300: var(--gray-300-light);
    --gray-400: var(--gray-400-light);
    --gray-500: var(--gray-500-light);
    --gray-600: var(--gray-600-light);
    --gray-700: var(--gray-700-light);
  }

  .dark {
    --primary: var(--primary-main-dark);
    --primary: var(--primary-light-dark);
    --primary: var(--primary-dark-dark);

    --secondary: var(--secondary-main-dark);
    --secondary: var(--secondary-light-dark);
    --secondary: var(--secondary-dark-dark);

    --background: var(--background-dark);
    --paper: var(--paper-dark);

    --contrast-text: var(--contrast-text-dark);

    --error: var(--error--dark);
    --info: var(--info--dark);
    --success: var(--success--dark);
    --warning: var(--warning--dark);

    --gray-50: var(--gray-50-dark);
    --gray-100: var(--gray-100-dark);
    --gray-200: var(--gray-200-dark);
    --gray-300: var(--gray-300-dark);
    --gray-400: var(--gray-400-dark);
    --gray-500: var(--gray-500-dark);
    --gray-600: var(--gray-600-dark);
    --gray-700: var(--gray-700-dark);
  }
} */
