<div class="main">
  <div class="logo">
    <img src="../../assets/Logo_Bible.png" alt="Logo" />
  </div>

  <div class="button">
    <app-button color="#f2debe" startIcon="home">home</app-button>
  </div>

  <div class="button-icon">
    <app-button color="#f2debe" startIcon="quiz">faq</app-button>
  </div>

  <div class="input-custom">
    <input-custom label="Digite"></input-custom>
  </div>

  <div class="minimiza" onclick="">
    <mini-miza class="minimiza">Remove</mini-miza>
  </div>
</div>
