@layer ripple {
  :global .light {
    --background-ripple: #0000001f;
  }

  :global .dark {
    --background-ripple: #ffffff1f;
  }

  /* RIPPLE */
  .ripple {
    position: relative;
    overflow: hidden;
    display: flex;
    place-content: center;
    align-items: center;
  }

  .ripple-element {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    background-color: var(--background-ripple);
    border-radius: 50%;
    pointer-events: none;
    transition:
      opacity 20ms cubic-bezier(0, 0, 0.2, 1),
      height 0ms cubic-bezier(0.06, 0.38, 0.2, 1),
      width 0ms cubic-bezier(0.06, 0.38, 0.2, 1);
    width: 0px;
    height: 0px;
  }

  .starting-position-click > .ripple-element:not(.suspend) {
    transform: translate(-50%, -50%);
  }

  .ripple-element-on {
    transition-duration: 250ms;
    height: var(--ripple-side);
    width: var(--ripple-side);
  }

  .ripple .ripple-element-on {
    transition-duration: 485ms;
  }

  .button-icon .ripple-element-on {
    height: 40px;
    width: 40px;
  }

  .ripple-element-off {
    transition-duration: 250ms !important;
    opacity: 0 !important;
  }
}
